script(src="../webcomponentsjs/webcomponents-lite.min.js")
link(rel="import", href="../polymer/polymer.html")

dom-module(id="base-element")

  template
    span this is a base-element

  script(src="./base-element.js")
